<div class="load">
    <div class="pre-loader">
        <div class="loader"></div>
        <div class="loader-bg"></div>
    </div>
    <div class="loader-content">
        <div class="count">
            <p>0</p>
        </div>
        <div class="copy">
            <p class="ml16">Kaizen</p>
        </div>
    </div>

    <div class="titles">
        <div>
            <span>where</span>
        </div>
        <div>
            <span>imagination</span>
        </div>
        <div>
            <span>meets</span>
        </div>
        <div>
            <span>innovation</span>
        </div>
    </div>

    <div class="slogan">
        Crafting Digital Excellence
        <span>Where Innovation Meets Design</span>
    </div>

    <div class="brand">
        <div class="header">
            <span>K</span>
            <span>A</span>
            <span>I</span>
            <span>Z</span>
            <span>E</span>
            <span>N</span>
        </div>
    </div>
</div> 